.container {
  background-color: white;
  border-radius: 5px;
  padding: 10px; }
  .container .carousel-inner {
    border-radius: 10px;
    margin-top: 20px; }
  .container h2 {
    padding: 10px;
    margin-top: 10px; }
  .container div .col {
    margin-top: 20px; }
  .container div .col-md-4 img {
    border-radius: 10px; }

.container {
  background-color: #e8f9ff; }
