.container {
  background-color: white;
  border-radius: 5px;
  padding: 10px; }
  .container .carousel-inner {
    border-radius: 10px;
    margin-top: 20px; }
  .container h2 {
    padding: 10px;
    margin-top: 10px; }
  .container div .col {
    margin-top: 20px; }
  .container div .col-md-4 img {
    border-radius: 10px; }

.container div .col {
  color: #090654;
  margin-bottom: 20px; }

.container .container-2 {
  margin-top: 20px;
  color: #090654; }

.container .gastro {
  background-color: white; }
  .container .gastro .card {
    margin-top: 20px; }

.container {
  background-color: white; }
  .container .aloja {
    margin-top: 20px; }
    .container .aloja .card {
      margin-bottom: 20px; }
      .container .aloja .card .card-body {
        padding-left: 60px; }

@media (max-width: 768px) {
  .aloja iframe {
    display: block;
    margin: auto;
    padding-top: 20px; } }

@media (max-width: 576px) {
  .aloja iframe {
    display: block;
    margin-bottom: 10px;
    padding-top: 20px; } }

.container {
  background-color: white; }
  .container .activ {
    margin: 10px; }
    .container .activ .card {
      width: 350px;
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 20px; }
      .container .activ .card img {
        opacity: 0.5;
        border-radius: 10px;
        padding-top: 5px;
        padding-bottom: 5px; }
      .container .activ .card h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        padding-top: 90px; }

@media (max-width: 992px) {
  .activ .card {
    width: 300px;
    margin: auto; } }

@media (max-width: 768px) {
  .activ .card {
    width: 400px;
    margin: auto; } }

@media (max-width: 576px) {
  .container .activ .card {
    margin-bottom: 10px;
    margin-left: 30px;
    padding-top: 20px; } }
