.container{
    background-color: white;
    .activ{
        margin: 10px;
        .card {
          width: 350px;
          margin-left: 40px;
          margin-right: 40px;
          margin-bottom: 20px;

             img{
                opacity: 0.5;
                border-radius: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
             }
             h2{
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            padding-top: 90px;
             } 
        }
    }
}

@media  (max-width:1200px){
    .activ{
    .card{ 
        width: 80%;;
        margin: auto;
     }
    }
}
@media(max-width:768px){
        .activ{
        .card{ 
      
        width: 80%;
        margin: auto;
    }

}
}


@media(max-width:576px){
        .activ{
        .card{ 
            width: 80%;
            display: block;
        margin-bottom: 10px;
       
    }
}
}